body{
    background-color: rgb(41, 40, 41);
    color: white;
    
}

h1{
    color: rgb(245, 82, 6);
}

table{
    background-color: rgb(239, 239, 240);
    color: rgb(5, 3, 129);
    font-weight: 600;
    border-collapse: collapse;
    border: 1px solid;
}

th{
    color: rgb(253, 252, 252);
    background-color: rgb(245, 82, 6);
    font-weight: 600;
}

tr:nth-child(even){
    background-color: darkgray;
}

.btn-submit{
    background-color: rgb(245, 82, 6);
    font-size: medium;
    font-weight: 600;
    color: white;
    border: none;
}
.btn-novo{
    background-color: rgb(245, 82, 6);
    font-size: medium;
    font-weight: 600;
    color: white;
    border: none;
}